-e git+ssh://git@github.com/anaiskassy/data-restoration-models.git@0706be0dcc994fd9389185f1c29dde5514072bf6#egg=data_restoration
h5py==3.7.0
keras==2.15.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy==1.26.4
pandas==1.4.4
protobuf==3.20.3
tensorflow==2.15.1

google-api-core==2.10.2
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.3.2
google-cloud-storage==2.4.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
google-trans-new==1.1.9
googleapis-common-protos==1.56.4
