-e git+ssh://git@github.com/anaiskassy/data-restoration-models.git@0706be0dcc994fd9389185f1c29dde5514072bf6#egg=data_restoration
h5py==3.7.0
keras==2.15.0
matplotlib==3.5.3
numpy==1.26.4
pandas==1.4.4
protobuf==3.20.3
tensorflow==2.15.1
